	body{
background-color:black;
margin: 0;
padding: 0;
height: 100%;
}


	#imgN{
margin-left:365px;
height:20%;
}


	table{
background-color:black;

}


	a{
color:white;
}


	b{
font-size:24px;
text-decoration-line: underline;
color:red;
text-align:middle;
}


	button{


color:black;
border:1px solid red;
border-radius:5px;
}


	
	#img4{
position: absolute;
top:585px;
left:160px;
width: 100px;
transition: 0.3s;
border-radius: 10px;
}



	#img3, #img2{
vertical-align:middle;
height:auto;
width: 150px;
margin-right: 5px;
margin-top: 10px;
border-radius: 10px;
transition: 0.3s;
}


	th{
vertical-align:middle;
text-align: left;
}

	tr img{
margin-right:10px;
}


	.zone-images {
margin-top: 1px;
gap: 1px;
display: flex;
}


	#rectangle {

width: 250px;
height: 130vh;
position: absolute;
top:0px;
left:0px;
background:black;
z-index: -1;
border-radius:15px;
border:2px solid white;
}


	.conteneur-cv{
position: absolute;
top:105px;
left:400px;
background:black;
border:2px solid white;
width: autopx;
border-radius:15px;
height:660px;
}

	
	.placement-boite{
position: absolute;
top:400px;
left:10px;
}


	.placement-boite-a{
position: absolute;
top:700px;
left:10px;
}

	.HM{
position: absolute;
top:280px;
left:900px;
}


	#img3:hover{
width:150px;
transform: scale(1.1);
border: 2px solid white;
opacity:0.8;
}


	#img4:hover{
width:120px;
transform: scale(1.1);
border: 2px solid white;
opacity:0.8;
}
	#video1{
position: absolute;
top:300px;
left:900px;
z-index:10;
border: 2px solid white;
transition: 0.3s;
border-radius: 10px;
}
	#video1:hover{
transform: scale(1.1);
}

	#start{
position: fixed;
top:0px;
left:0px;
transition: opacity 0.3s;
z-index:11;
width:100vw;
height: 100vh;
  object-fit: cover;
}
.glow {
  box-shadow:0 0 35px red;
}
.nono {
white-space: pre-line;

}
.nonoX {
white-space: pre-line;

}
#skipintro{
z-index:12;
position: absolute;
color:black;
border:1px solid red;
border-radius:5px;
margin-bottom:60;
margin-right:60;
}

	
